.Account {
  background-color: transparent;
  color: var(--dark-40);
  padding: 6px 1.2rem;
  border-radius: 1rem;
  border: 1px solid var(--brand-color);
  font-size: .9rem;
  font-family: var(--font-1);
  font-weight: 400;
}

.Account:hover {
  background-color: #8257E6;
  cursor: pointer;
  transition: .3s;
}