.Series {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 1060px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 660px) {
  .cards {
    grid-template-columns: 1fr;
  }
}