.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.configCard {
  min-height: 212px;
  max-height: 216px;
}

@media (min-width: 460px) and (max-width: 767px) {
  .configCard {
    min-height: initial !important;
    max-height: initial !important;
  }
}

@media (max-width: 1060px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 660px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.onlyChildIsP {
  grid-template-columns: 1fr;
  text-align: center;
}

.onlyChildIsP p {
  font-size: 1.2rem;
}


@media (max-width: 380px) {
  .onlyChildIsP p {
    font-size: 1rem;
  }
}