.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 1060px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 660px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.onlyChildIsP {
  grid-template-columns: 1fr;
  text-align: center;
}

.onlyChildIsP p {
  font-size: 1.2rem;
}