.ItemPage {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.content_1 {
  gap: 1rem !important; 
}

.content_1 img {
  max-height: 416px;
  width: 100%;
  object-fit: cover;
}

.container {
  gap: 1rem !important;
}
.container p {
  line-height: 1.5rem !important;
}

.detailsInfo {
  font-size: .8rem !important;
}

.configCard {
  max-height: 416px;
}

.configCard:hover {
  transform: scale(1);
  cursor: default;
}

.configCard h2 {
  left: 1.5rem;
  padding: 1rem;
  font-size: 1rem;
}

.content_1 p {
  line-height: 2rem;
  font-size: 1rem;
}

@media (max-width: 480px) {
  .configCard {
    max-height: 240px;
    height: 100%;
  }

  .configCard h2 {
    left: 1rem;
    padding: .5rem;
    font-size: .8rem;
  }

  .content_1 img {
    height: 240px;
  }

  .content_1 p {
    line-height: 1.6rem;
    font-size: .9rem;
  }

  .detailsInfo {
    font-size: .65rem !important;
  }
}