.Section_1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content_1 {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.content_1 h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--dark-40);
  max-width: 300px;
}

.content_1 p {
  font-size: 1rem;
  max-width: 390px;
}