.Footer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .Footer {
    font-size: .8rem;
  }
}